In [ ]:
# 1. find out all the types of error that we have encoutnter in our lecture and why? Also include the examples

In [ ]:
A = 45
B= 67

print(a)    #we have to use apostrophes"" to print the variable

In [ ]:
#2. Take input A and B and print their sm, mul, div, square of the numbers

In [ ]:
A = 45
B = 67

print(f"sum of A and B is: {A+B}")
print(f"multiplication of A and B is: {A*B}")
print(f"division of A and B is: {A/B}")
print(f"square of A and B is: {A**B}")

In [ ]:
#3. How many reserve keywords are there in python and why we should not use them as a variable name.

In [ ]:
#There are only 33 reserve keywords in python.
#We shouldn't use those as variable name because if I will use those words as variable, then those might revert in the data type of the variable, and for future use of those variable as keywords, will through an error.

In [ ]:
#4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [8]:

first_name= input("enter the first name: ")
last_name= input("enter the second name: ")

print(f"the user email id is: {last_name}.{first_name}@gmail.com")

enter the first name: ishan
enter the second name: gupta
the user email id is: gupta.ishan@gmail.com

In [ ]:
#5. Try to print the following lines -
#Hi I'm Sunny
#My address is 22\3
#I earn 20$ daily.

In [ ]:
a="Hi I'm Sunny"
b="My address is22/3"
c= "I earn 20$ daily"

print(f"the 1st line is:{a}")
print(f"the 2nd line is:{b}")
print(f"the 3rd line is:{c}")

In [ ]:
#6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [7]:
first_name= input("enter your first name ")
last_name= input("enter your last name ")
address = input("enter your address ")
date_of_birth = input("enter your date of birth ")

enter your first name ishan
enter your last name gupta
enter your address Himachal
enter your date of birth 1999

In [ ]:
#7. Convert the following - "22.4" into integer ,"22" into complex no

In [14]:
x = 22.4
print(f"the given number is:{type(x)}, value of x:{x}")
x = int(x)
print(f"the output is:{x}")

the given number is:<class 'float'>, value of x:22.4
the output is:22

In [16]:
x = 22
print(f"the given number is:{type(x)}, value of x:{x}")
x= bool(x)
print(f"the output is:{x}")

the given number is:<class 'int'>, value of x:22
the output is:True